CompileFlags:
  Add:
    - -Ithird_party/borealis/library/include
    - -Imoonlight/include
    - -Ithird_party
    - -D__PSV__
    - -DPLATFORM_PS_VITA

# Fallback flags for files not covered by compile_commands.json.
