.*/
*build*/
*~
*.bak
*.nro
*.nacp
*.elf
*.tar.gz
.vscode
builddir
*.dksh
.DS_Store
*.suprx
libromfs-generator
!.github/
openssl-1.1.1w
openssl-mingw
openssl-1.1.1w.tar.gz
reference
temp_sdl
compile_commands.json
dump-analysis/
temp/
client.pem
key.pem
