<brls:Box
    width="auto"
    height="auto">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        axis="column"
        alignItems="stretch"
        scrollingBehavior="centered"
        grow="1.0" >
        
        <brls:Box
            width="10000"
            height="auto"
            axis="column"
            alignItems="stretch"
            paddingTop="@style/brls/sidebar/padding_top"
            paddingRight="@style/brls/sidebar/padding_right"
            paddingBottom="@style/brls/sidebar/padding_bottom"
            paddingLeft="@style/brls/sidebar/padding_left">
            
            <!-- STREAMING SETTINGS -->
            <brls:Header title="@i18n/moonlight/settings_tab/header"/>
            
            <brls:SelectorCell
                id="renderModeSelector"
                title="@i18n/moonlight/settings_tab/render_mode/title"/>
            
            <brls:SelectorCell
                id="pixelFormatSelector"
                title="@i18n/moonlight/settings_tab/pixel_format/title"/>

            <brls:SelectorCell
                id="streamResolutionSelector"
                title="@i18n/moonlight/settings_tab/stream_resolution/title"/>

            <brls:SelectorCell
                id="fpsSelector"
                title="@i18n/moonlight/settings_tab/fps/title"/>
                
            <brls:SelectorCell
                id="bitrateSelector"
                title="@i18n/moonlight/settings_tab/bitrate/title"/>

            <brls:SelectorCell
                id="swapInterval"
                title="@i18n/moonlight/settings_tab/swap_interval/title"/>

            <brls:BooleanCell
                id="fullscreenToggle"
                title="@i18n/moonlight/settings_tab/fullscreen_title"/>

            <brls:BooleanCell
                id="sopsToggle"
                title="@i18n/moonlight/settings_tab/sops_title"/>
                
            <brls:BooleanCell
                id="networkOptimizationsToggle"
                title="@i18n/moonlight/settings_tab/network_opt_title"/>
                
            <brls:BooleanCell
                id="localAudioToggle"
                title="@i18n/moonlight/settings_tab/local_audio_title"/>
                
            <brls:BooleanCell
                id="framePacerToggle"
                title="@i18n/moonlight/settings_tab/frame_pacer_title"/>
                
            <brls:BooleanCell
                id="centerRegionToggle"
                title="@i18n/moonlight/settings_tab/center_region_title"/>
                
            <brls:BooleanCell
                id="refFrameInvalidationToggle"
                title="@i18n/moonlight/settings_tab/ref_frame_title"/>

            <brls:BooleanCell
                id="showFpsToggle"
                title="@i18n/moonlight/settings_tab/show_fps_title"/>
                
            <brls:BooleanCell
                id="debugLogToggle"
                title="@i18n/moonlight/settings_tab/save_debug_log_title"/>

            <brls:SliderCell
                id="settingsOpacitySlider"
                title="@i18n/moonlight/settings_tab/settings_background_opacity"/>

            <!-- MOONMIC -->
            <brls:Header
                title="@i18n/moonlight/settings_tab/moonmic_header"
                subtitle="@i18n/moonlight/settings_tab/moonmic_requirement"/>

            <brls:SelectorCell
                id="resolutionSelector"
                title="@i18n/moonlight/settings_tab/resolution/title"/>

            <brls:BooleanCell
                id="microphoneToggle"
                title="@i18n/moonlight/settings_tab/microphone_enabled_title"/>

            <brls:DetailCell
                id="microphoneConfigureCell"
                title="@i18n/moonlight/settings_tab/microphone_configure_title"/>

            <!-- CONTROLS -->
            <brls:Header title="@i18n/moonlight/settings_tab/controls_header"/>

            <brls:DetailCell
                id="rearTouchSettingsEntry"
                title="@i18n/moonlight/rear_touch/title"/>

            <brls:DetailCell
                id="frontTouchSettingsEntry"
                title="@i18n/moonlight/front_touch/title"/>

            <brls:DetailCell
                id="trackpadSettingsEntry"
                title="@i18n/moonlight/trackpad/header"/>
            
            <brls:DetailCell
                id="gyroSettingsEntry"
                title="@i18n/moonlight/gyro/settings_entry"/>
                
            <brls:BooleanCell
                id="doubleTapSprintToggle"
                title="@i18n/moonlight/settings_tab/double_tap_sprint_title"/>
                
            <brls:SelectorCell
                id="touchscreenModeSelector"
                title="@i18n/moonlight/settings_tab/touchscreen_mode/title"/>

            <brls:SelectorCell
                id="gamepadTypeSelector"
                title="@i18n/moonlight/settings_tab/gamepad_type/title"/>

            <brls:BooleanCell
                id="swapShoulderButtonsToggle"
                title="@i18n/moonlight/settings_tab/swap_shoulder_buttons/title"/>

            <!-- Configurar Teclado -->
            <brls:DetailCell
                id="keyboardConfigureCell"
                title="@i18n/moonlight/keyboard/configure_title"/>

            <brls:DetailCell
                id="shortcutsConfigureCell"
                title="@i18n/moonlight/shortcuts/configure_title"/>

            <!-- SYSTEM -->
            <brls:Header title="@i18n/moonlight/settings_tab/system_header"/>

            <brls:BooleanCell
                id="keepAwakeToggle"
                title="@i18n/moonlight/settings_tab/keep_awake_while_streaming"/>

            <brls:DetailCell
                title="@i18n/moonlight/settings/ip"
                id="ipAddress"/>
            
            <brls:SelectorCell
                id="languageSelector"
                title="@i18n/moonlight/settings/language"/>

            <brls:RadioCell
                id="radio"
                visibility="gone"/>
                
            <brls:BooleanCell
                id="boolean"
                visibility="gone"/>
                
            <brls:SelectorCell
                id="selector"
                visibility="gone"/>
                
            <brls:InputCell
                id="input"
                visibility="gone"/>
                
            <brls:InputNumericCell
                id="inputNumeric"
                visibility="gone"/>

            <brls:DetailCell
                title="@i18n/moonlight/settings/dns"
                id="dnsServer"
                visibility="gone"/>

            <brls:BooleanCell
                id="debug"
                visibility="gone"/>

            <brls:BooleanCell
                id="bottomBar"
                visibility="gone"/>

            <brls:BooleanCell
                id="alwaysOnTop"
                visibility="gone"/>

            <brls:BooleanCell
                id="fps"/>

            <brls:SliderCell
                    id="slider"/>

            <brls:DetailCell
                    title="@i18n/moonlight/settings/notify"
                    id="notify"
                    visibility="gone"/>

            <brls:RadioCell id="radio2" visibility="gone"/>
            <brls:RadioCell id="radio3" visibility="gone"/>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:Box>
